@import "tailwindcss";

@theme {
  --color-koala-light: #F3F6F3;
  --color-koala-base: #7D9D78;
  --color-koala-dark: #5C7A58;
  --color-koala-text: #4A4A4A;
}

:root {
  font-family: 'Helvetica Neue', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #4A4A4A;
  background-color: #F3F6F3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}